body {
    @apply bg-[#F0F0F0]  ;
  }
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    display: flex;
    animation: marquee 30s linear infinite; /* Adjust the duration for speed */
  }
  
  
@tailwind base;
@tailwind components;
@tailwind utilities;